#Importing the required Modules

In [1]:
import numpy as np
import pandas as pd
import itertools
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer # To vectorize the text 
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

#Mounting the drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
!unzip "/content/drive/My Drive/news.zip" -d "/content/"

Archive:  /content/drive/My Drive/news.zip
replace /content/news.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

#Read the dataset

In [7]:
#Read the data
df=pd.read_csv('/content/news.csv')

#Data Analysis

In [8]:
print(df.shape)
df.head(10)

(6335, 4)

   Unnamed: 0  ... label
0        8476  ...  FAKE
1       10294  ...  FAKE
2        3608  ...  REAL
3       10142  ...  FAKE
4         875  ...  REAL
5        6903  ...  FAKE
6        7341  ...  FAKE
7          95  ...  REAL
8        4869  ...  REAL
9        2909  ...  REAL

[10 rows x 4 columns]

In [9]:
d={"FAKE":0,"REAL":1}
df['label']=df['label'].map(d)

df

      Unnamed: 0  ... label
0           8476  ...     0
1          10294  ...     0
2           3608  ...     1
3          10142  ...     0
4            875  ...     1
...          ...  ...   ...
6330        4490  ...     1
6331        8062  ...     0
6332        8622  ...     0
6333        4021  ...     1
6334        4330  ...     1

[6335 rows x 4 columns]

#Splitting the data set

In [10]:
x_train,x_test,y_train,y_test=train_test_split(df['text'], df['label'], test_size=0.2, random_state=7)

#Tfidf Vectorizer

In [11]:
#Initialize a TfidfVectorizer
tfidf_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.7) #Removes the stop words and max df ignores the words which have frequency greater than the threshold

#Fit and transform train set, transform test set
tfidf_train=tfidf_vectorizer.fit_transform(x_train) 
tfidf_test=tfidf_vectorizer.transform(x_test)

#Logistic Regression

In [12]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression() #create the object of the model
lr = lr.fit(tfidf_train,y_train)

In [13]:
from sklearn.metrics import accuracy_score, confusion_matrix,precision_score,recall_score,f1_score

act = accuracy_score(y_test,lr.predict(tfidf_test))
print('Test Accuracy is: ',(act*100))
p = precision_score(y_test,lr.predict(tfidf_test))
print('Test Precision is: ',(p*100))
r = recall_score(y_test,lr.predict(tfidf_test))
print('Test Recall is: ',(r*100))
f = f1_score(y_test,lr.predict(tfidf_test))
print('Test F1 Score is: ',(f*100))

Test Accuracy is:  91.71270718232044
Test Precision is:  93.66666666666667
Test Recall is:  89.34817170111288
Test F1 Score is:  91.45646867371848

#Random Forest Classifier

In [14]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf = rf.fit(tfidf_train,y_train)

In [ ]:
act = accuracy_score(y_test,rf.predict(tfidf_test))
print('Test Accuracy is: ',(act*100))
p = precision_score(y_test,rf.predict(tfidf_test))
print('Test Precision is: ',(p*100))
r = recall_score(y_test,rf.predict(tfidf_test))
print('Test Recall is: ',(r*100))
f = f1_score(y_test,rf.predict(tfidf_test))
print('Test F1 Score is: ',(f*100))

Test Accuracy is:  90.76558800315706
Test Precision is:  91.55844155844156
Test Recall is:  89.66613672496025
Test F1 Score is:  90.60240963855422

#Passive Aggressive Clasiifier

In [15]:
#Initialize a PassiveAggressiveClassifier
pac=PassiveAggressiveClassifier(max_iter=50)
pac=pac.fit(tfidf_train,y_train)

In [16]:
#Predict on the test set and calculate accuracy
y_pred=pac.predict(tfidf_test)

act = accuracy_score(y_test,y_pred)
print('Test Accuracy is: ',(act*100))
p = precision_score(y_test,y_pred)
print('Test Precision is: ',(p*100))
r = recall_score(y_test,y_pred)
print('Test Recall is: ',(r*100))
f = f1_score(y_test,y_pred)
print('Test F1 Score is: ',(f*100))

Test Accuracy is:  92.5808997632202
Test Precision is:  91.99372056514915
Test Recall is:  93.1637519872814
Test F1 Score is:  92.57503949447077